<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='murmur.js') }}"></script>
    <script src="{{ url_for('static', filename='BitSet.js') }}"></script>
    <script type="text/javascript">
        var k = {{ k | safe }}
        var offsets = {{ offsets | safe }}
        var len = {{ len | safe }}

        function hashURL(url) {
            var is_malicious = [];
            var indices = [];
            const { hostname } = new URL(url);
            for (var j = 0; j < k; j++) {
                indices.push(murmurhash2(hostname, offsets[j]) % len);
            }
            var columns = [];
            let bitarray = new BitSet.Random(Math.sqrt(len));
            while (true) {
                bitarray = new BitSet.Random(Math.sqrt(len));
                if (bitarray.toString().length == Math.sqrt(len)) {
                    break;
                }
            }
            for (var iter = 0; iter < k; iter++) {
                $.ajax({
                    type: 'POST',
                    url: '/main',
                    async: false,
                    contentType: "application/json",
                    data: JSON.stringify({ data: bitarray.toString() }),
                    dataType: "json",
                    success: function (response) {
                        columns.push(response.data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
                let indexarray = new BitSet;
                let y = indices[iter] % Math.sqrt(len);
                indexarray.set(y, 1);

                let final_bitarray = indexarray.xor(bitarray);
                final_bitarray = final_bitarray.toString();
                $.ajax({
                    type: 'POST',
                    url: '/sec',
                    async: false,
                    contentType: "application/json",
                    data: JSON.stringify({ data: final_bitarray }),
                    dataType: "json",
                    success: function (response) {
                        columns.push(response.data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
                var bit = columns[0];
                for (var i = 1; i < columns.length; i++) {
                    bit = bit ^ columns[i];
                }
                is_malicious.push(bit);
            }
            window.alert(is_malicious);
            return indices;
        }
        window.onload = function () {
            var a = document.getElementsByClassName("a");
            for (var i = 0; i < a.length; i++) {
                var url = a[i].href;
                (function (i, url) {
                    a[i].addEventListener('click', function () { hashURL(url); }, false);
                })(i, url);
            }
        }
    </script>
    <style>
        body {
            max-width: 38rem;
            padding: 2rem;
            margin: auto;
        }
    </style>
</head>

<body>
    <h1>Julius Caesar</h1>
    Gaius Julius Caesar (12 July 100 BC – 15 March 44 BC), was a
    <a class="a" href=".">Roman</a> general and statesman.
    A member of the <a class="a"
        href="https://www.worldhistory.org/First_Triumvirate/">First
        Triumvirate</a>,
    Caesar led the Roman armies in the <a class="a"
        href="http://classics.mit.edu/Caesar/gallic.1.1.html">Gallic Wars</a>
    before defeating
    his political rival <a class="a"
        href="https://www.britannica.com/biography/Pompey-the-Great">Pompey</a>
    in a civil war,
    and subsequently became dictator from 49 BC until his assassination in 44
    BC.
</body>

</html>